@keyframes pulse {
  from { opacity: 0.4; transform: scale(1); }
  to { opacity: 1; transform: scale(1.1); }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Roboto, sans-serif;
  color: #707070;

  noscript, #adblock-warning {
    color: #E54A4A;
    font-size: 2em;
    font-weight: 300;
    padding: 0 2em;
    text-align: center;

    .title {
      font-weight: bold;
      margin-bottom: 0.5em;
    }
  }

  a {
    color: #1BA3CE;
  }

  .pulse {
    animation: pulse 0.7s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
  }

  .hidden {
    display: none!important;
  }

  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  #moreLink {
    display: block;
    text-align: center;
    margin-top: -2em;
    text-decoration: none;
    font-size: 1.5em;
  }

  h1 {
    font-size: 50px;
    font-weight: 300;

    a {
      font-weight: 400;
    }
  }

  h2 {
    font-weight: 300;
    font-size: 100px;
    
    &.yes {
      color: #27AB30;
    }
    &.no {
      color: #E54A4A;
    }
    &.maybe {
      color: #BFAD35;
    }
    &.unknown {
      color: #242674;
    }
  }

  section.result {
    text-align: center;
    padding: 0 10%;
  }
}
