<main class="center">
  <section class="result">
    <h1><%-__('page.title', page.code, page.name)%></h1>
    <h2 class="<%=page.candrink%>"><%=__(`page.candrink.${page.candrink}`)%></h2>
  </section>
</main>
<a href="#details" id="moreLink">More info</a>
<section id="details" class="center">
  <%-page.content%>
</section>