<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <title>
    Can you drink the tap water <%=page.name ? `in ${page.name}` : 'here'%>?
  </title>

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet"> 
  <%- css('css/main') %>
  <%- js('https://cdn.polyfill.io/v2/polyfill.min.js') %>
  <%- js('js/bundle') %>
</head>
