<noscript class="center">
  <div class="title">Oops!</div>
  Javascript needs to be enabled for this site to work.
</noscript>

<main class="center hidden">
  <h1 class="pulse">Figuring out where you are</h1>
</main>

<main id="adblock-warning" class="center hidden">
  <div class="title">Please turn off your adblocker</div>
  To determine your location we need to get some data which the adblocker is preventing us from doing.<br>
  We use this current location to auto select the country you're currently at.
</main>